# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# go modules
/pkg

# keys
/com.openmangago/database/open-manga-go-37324b786a20.json
/publisher-to-multiple-topics-example/creds
/internal-listener/creds
/publisher-archetype-Dependency-inversion/creds
/publisher-archetype/creds
/rtl-fal-corp-mrex-prcn-prices-catalyst-listenner
/publisher-to-multiple-topics-example
/publisher-archetype-Dependency-inversion